<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Auto Suggestion project for MrBilit site
</font>
</h1>

<h2 align=left style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Importing libraries
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>

</font>
</p>

In [1]:
pip install tqdm

Requirement already satisfied: tqdm in d:\quera\qenv\lib\site-packages (4.66.1)
Requirement already satisfied: colorama; platform_system == "Windows" in d:\quera\qenv\lib\site-packages (from tqdm) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.3; however, version 23.2.1 is available.
You should consider upgrading via the 'd:\quera\qenv\scripts\python.exe -m pip install --upgrade pip' command.

In [2]:
pip install python-Levenshtein

Collecting python-Levenshtein
  Downloading python_Levenshtein-0.22.0-py3-none-any.whl (9.4 kB)
Collecting Levenshtein==0.22.0
  Downloading Levenshtein-0.22.0-cp38-cp38-win_amd64.whl (101 kB)
Collecting rapidfuzz<4.0.0,>=2.3.0
  Downloading rapidfuzz-3.3.1-cp38-cp38-win_amd64.whl (1.8 MB)
Installing collected packages: rapidfuzz, Levenshtein, python-Levenshtein
Successfully installed Levenshtein-0.22.0 python-Levenshtein-0.22.0 rapidfuzz-3.3.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.3; however, version 23.2.1 is available.
You should consider upgrading via the 'd:\quera\qenv\scripts\python.exe -m pip install --upgrade pip' command.

In [3]:
import numpy as np
import pandas as pd
import re
from tqdm import tqdm
from Levenshtein import distance

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Dataset 
    </font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    
</font>
</p>
<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|Ø³ØªÙˆÙ†|ØªÙˆØ¶ÛŒØ­Ø§Øª|
|:------:|:---:|
|<code>ServiceType</code>|The type of service customers need|
|<code>TypedStrings</code>|List of customer input as string sorted by time|
|<code>AcceptString</code>|The string which customer finally choosed|

</font>
</div>
</center>

<p dir=rtl style="direction: rtl; text-align: left; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3 color=red>
    <b>We are going to work on two kinds of service type</b>
</font>
<font face="vazir" size=3>
</font>
</p>

<h2 align=left style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Reading the dataset
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
   <code dir=ltr></code>
</font>
</p>

In [9]:
data = pd.read_json('./mrbilit_search.json')
data.head()

,ServiceType,TypedStrings,AcceptString
0,flight,"[, Ù, ÙÙ„, ÙÙ„Ùˆ]",ÙÙ„ÙˆØ±Ø§Ù†Ø³
1,hotel,"[, H, H,, H, , Ø¢, Ø¢Ùˆ, Ø¢ÙˆØ§, Ø¢ÙˆØ§Ù¾, Ø¢ÙˆØ§Ù¾Ù„, Ø¢ÙˆØ§Ù¾Ù„Ø§...",Ø´ÛŒØ±Ø§Ø²
2,hotel,"[, Ø¢, Ø¢Ùˆ, Ø¢ÙˆØ§, Ø¢ÙˆØ§Ù¾, Ø¢ÙˆØ§Ù¾Ù„, Ø¢ÙˆØ§Ù¾Ù„Ø§, Ø¢ÙˆØ§Ù¾Ù„Ø§Ø³]",Ø¢ÙˆØ§Ù¾Ù„Ø§Ø³
3,hotel,[],Ø¨ÛŒÙ† Ø§Ù„Ù…Ù„Ù„ÛŒ Ø§Ø³Ù¾ÛŒÙ†Ø§Ø³ Ø®Ù„ÛŒØ¬ ÙØ§Ø±Ø³
4,bus,[],ØªÙ‡Ø±Ø§Ù†

In [11]:
test_data = pd.read_json('./test_data.json')
test_data.head()

        Typed
0         ØªÙ‡Ø¯
1         Ù†Ù‡Ø§
2        Ø³Ø§ÙˆÙ‡
3          ÛŒØ§
4  Ø¨Ù†Ø¯Ø± Ø§Ù†Ø²Ù„ÛŒ

In [12]:
cities = pd.read_csv('./iran_cities.csv')
cities.head()

,City EN,City FA,Province,Countise,District,Latitude,Longitude,Area,Elevation,2016 Census,2011 Census,Wikipedia EN,Wikipedia FA,GeoHack
0,Ab Bar,Ø¢Ø¨â€ŒØ¨Ø±,Ø²Ù†Ø¬Ø§Ù†,Ø·Ø§Ø±Ù…,Ù…Ø±Ú©Ø²ÛŒ,36.918100,48.964700,709.0,NaN,8091.0,6725.0,https://en.wikipedia.org/wiki/Ab_Bar,https://fa.wikipedia.org/wiki/%D8%A2%D8%A8%E2%...,https://geohack.toolforge.org/geohack.php?lang...
1,Ab Pakhsh,Ø¢Ø¨â€ŒÙ¾Ø®Ø´,Ø¨ÙˆØ´Ù‡Ø±,Ø¯Ø´ØªØ³ØªØ§Ù†,Ø¢Ø¨â€ŒÙ¾Ø®Ø´,29.363706,51.070180,251204.0,7003.0,18913.0,17238.0,https://en.wikipedia.org/wiki/Ab_Pakhsh,https://fa.wikipedia.org/wiki/%D8%A2%D8%A8%E2%...,https://geohack.toolforge.org/geohack.php?lang...
2,Abad,Ø¢Ø¨Ø§Ø¯,Ø¨ÙˆØ´Ù‡Ø±,ØªÙ†Ú¯Ø³ØªØ§Ù†,Ù…Ø±Ú©Ø²ÛŒ,29.028300,51.249100,45.0,NaN,3787.0,3787.0,"https://en.wikipedia.org/wiki/Abad,_Bushehr",https://fa.wikipedia.org/wiki/%D8%A2%D8%A8%D8%...,https://geohack.toolforge.org/geohack.php?lang...
3,Abadan,Ø¢Ø¨Ø§Ø¯Ø§Ù†,Ø®ÙˆØ²Ø³ØªØ§Ù†,Ø¢Ø¨Ø§Ø¯Ø§Ù†,Ù…Ø±Ú©Ø²ÛŒ,30.339167,48.304167,3.0,NaN,231476.0,212744.0,"https://en.wikipedia.org/wiki/Abadan,_Iran",https://fa.wikipedia.org/wiki/%D8%A2%D8%A8%D8%...,https://geohack.toolforge.org/geohack.php?lang...
4,Abadeh,Ø¢Ø¨Ø§Ø¯Ù‡,ÙØ§Ø±Ø³,Ø¢Ø¨Ø§Ø¯Ù‡,Ù…Ø±Ú©Ø²ÛŒ,31.180000,52.670000,1890.0,NaN,59116.0,55758.0,https://en.wikipedia.org/wiki/Abadeh,https://fa.wikipedia.org/wiki/%D8%A2%D8%A8%D8%...,https://geohack.toolforge.org/geohack.php?lang...

In [13]:
fa2en = pd.read_csv('./typo_char.csv', index_col='FA')
fa2en.head()

   EN
FA
Ø´   a
Ø°   b
Ø²   c
ÛŒ   d
Ø«   e

<h2 align=left style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Preprocessing
</font>

In [15]:
data = data.loc[data['ServiceType'].isin(['taxi', 'bus'])]
data.reset_index(drop=True, inplace=True)
data.head()

  ServiceType TypedStrings AcceptString
0         bus           []        ØªÙ‡Ø±Ø§Ù†
1         bus      [ØªÙ‡Ø±Ø§Ù†]        ØªÙ‡Ø±Ø§Ù†
2         bus         [, ]       Ø§ØµÙÙ‡Ø§Ù†
3        taxi     [Ø§ØµÙÙ‡Ø§Ù†]       Ø§ØµÙÙ‡Ø§Ù†
4         bus      [ØªÙ‡Ø±Ø§Ù†]        ØªÙ‡Ø±Ø§Ù†

In [16]:
X = []
y = []

for index, typed in enumerate(data['TypedStrings']):
    for t in typed:
        X.append(t)
        y.append(data['AcceptString'][index])

data = pd.DataFrame({'TypedStrings': X, 'AcceptString': y})
data

      TypedStrings         AcceptString
0                                 ØªÙ‡Ø±Ø§Ù†
1            ØªÙ‡Ø±Ø§Ù†                ØªÙ‡Ø±Ø§Ù†
2                                Ø§ØµÙÙ‡Ø§Ù†
3                                Ø§ØµÙÙ‡Ø§Ù†
4           Ø§ØµÙÙ‡Ø§Ù†               Ø§ØµÙÙ‡Ø§Ù†
...            ...                  ...
75826            Ø¨                 Ø¨Ø§Ø¨Ù„
75827           Ø¨Ø§                 Ø¨Ø§Ø¨Ù„
75828          Ø¨Ø§Ø¨                 Ø¨Ø§Ø¨Ù„
75829         Ø¨Ø§Ø¨Ù„                 Ø¨Ø§Ø¨Ù„
75830               Ø§ØµÙÙ‡Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ ØµÙÙ‡

[75831 rows x 2 columns]

In [17]:
train = pd.merge(data, cities[['City EN', 'City FA']], left_on='AcceptString', right_on='City FA', how='left')
train = train[['TypedStrings', 'AcceptString', 'City EN']]
train.head()

  TypedStrings AcceptString  City EN
0                     ØªÙ‡Ø±Ø§Ù†   Tehran
1        ØªÙ‡Ø±Ø§Ù†        ØªÙ‡Ø±Ø§Ù†   Tehran
2                    Ø§ØµÙÙ‡Ø§Ù†  Isfahan
3                    Ø§ØµÙÙ‡Ø§Ù†  Isfahan
4       Ø§ØµÙÙ‡Ø§Ù†       Ø§ØµÙÙ‡Ø§Ù†  Isfahan

In [18]:
for i, v in train[pd.isna(train['City EN'])]['AcceptString'].value_counts().items():
    print(i, v)

Ø§Ù‡ÙˆØ§Ø² - Ù‡Ù…Ù‡ Ù¾Ø§ÛŒØ§Ù†Ù‡â€ŒÙ‡Ø§ 632
ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ø¬Ù†ÙˆØ¨ 390
ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ ØºØ±Ø¨ 341
Ø´ÛŒØ±Ø§Ø² - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ú©Ø§Ø±Ø§Ù†Ø¯ÛŒØ´ 252
Ø§ØµÙÙ‡Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ú©Ø§ÙˆÙ‡ 235
Ú©Ù†Ú¯Ø§Ù† 208
ÙØ±ÙˆØ¯Ú¯Ø§Ù‡ Ø§Ù…Ø§Ù… Ø®Ù…ÛŒÙ†ÛŒ 196
ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ø¨ÛŒÙ‡Ù‚ÛŒ 192
Ø§Ù‡ÙˆØ§Ø² - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ø³ÛŒØ§Ø­Øª 157
Ø¹Ø³Ù„ÙˆÙŠÙ‡ 137
Ø§Ù‡ÙˆØ§Ø² - Ù¾Ø§ÛŒØ§Ù†Ù‡ ØªÙ¾Ù‡ 126
Ø§ØµÙÙ‡Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ ØµÙÙ‡ 107
Ø§Ø³ØªØ§Ù†Ø¨ÙˆÙ„ (ØªØ±Ú©ÛŒÙ‡) 105
Ù‚Ù… - Ù¾Ø§ÛŒØ§Ù†Ù‡ ÙØ¯Ú© 98
ØªÙ‡Ø±Ø§Ù† - Ù‡Ù…Ù‡ Ù¾Ø§ÛŒØ§Ù†Ù‡â€ŒÙ‡Ø§ 97
Ø´ÛŒØ±Ø§Ø² - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ø§Ù…ÛŒØ±Ú©Ø¨ÛŒØ± 94
Ø³Ø§ÛŒØ± 78
Ú¯Ú†Ø³Ø§Ø±Ø§Ù† 71
ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ø´Ø±Ù‚ 66
Ù†ÙˆØ±Ø¢Ø¨Ø§Ø¯ 60
Ø´ÛŒØ±Ø§Ø² - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ù…Ø¯Ø±Ø³ 50
Ø¯ÛŒÙ„Ù… 45
Ù…Ø³Ø¬Ø¯Ø³Ù„ÛŒÙ…Ø§Ù† 44
Ø¨Ø±Ø¯Ø§Ø³Ú©Ù† 41
Ø¯Ø´ØªØ³ØªØ§Ù† 35
Ø±ÛŒ 33
Ø³Ù„Ø·Ø§Ù† Ø¢Ø¨Ø§Ø¯ 26
Ø§Ø³Ù„Ø§Ù… Ø¢Ø¨Ø§Ø¯ ØºØ±Ø¨ 24
Ø·ÙˆØ§Ù„Ø´ 23
ØªÙÙ„ÛŒØ³ (Ú¯Ø±Ø¬Ø³ØªØ§Ù†) 23
Ø§ØµÙÙ‡Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ø¬ÛŒ 23
Ù¾Ø§ÛŒØ§Ù†Ù‡ ØºØ±Ø¨ 23
Ø§ÛŒØ±ÙˆØ§Ù† (Ø§Ø±Ù…Ù†Ø³ØªØ§Ù†) 22
Ø§Ø±Ø²Ø±ÙˆÙ… (ØªØ±Ú©ÛŒÙ‡) 22
Ú¯Ø±Ú¯Ø§Ù† - Ù‡Ù…Ù‡ Ù¾Ø§ÛŒØ§Ù†Ù‡â€ŒÙ‡Ø§ 19
Ø§Ø±Ø²ÙˆÛŒÛŒÙ‡ 17
ØªØ±Ø§Ø¨Ø²ÙˆÙ† (ØªØ±Ú©ÛŒÙ‡) 17
Ø¨Ø§ØªÙˆÙ…ÛŒ (Ú¯Ø±Ø¬Ø³ØªØ§Ù†) 16
Ø§Ù„Ø¨Ø±Ø² 16
Ù¾Ø§ÛŒØ§Ù†Ù‡ ÙØ¯Ú© 16
Ù‚Ù… - Ø¹ÙˆØ§Ø±Ø¶ÛŒ 15
Ø´Ù‡Ø± Ù‚Ø¯Ø³ 14
Ù¾Ø§ÛŒØ§Ù†Ù‡ Ù…Ø±Ø²ÛŒ Ù…Ù‡Ø±Ø§Ù† 14
Ù…Ù…Ø³Ù†ÛŒ 13
Ù†ÛŒÚ© Ø´Ù‡Ø± 12
Ø³Ø±Ú†Ù… 12
Ø³Ø±Ø¨Ù†Ø¯Ø± 12
Ø¯Ù„ÙØ§Ù† 10
Ø¢Ù†Ú©Ø§Ø±Ø§ (ØªØ±Ú©ÛŒÙ‡) 9
Ø­Ø§Ø¬ÛŒ Ø¢Ø¨Ø§Ø¯ Ù‚Ø§Ø¦Ù† 9
ÛŒØ²Ø¯ - Ú©Ù…Ø±Ø¨Ù†Ø¯ÛŒ 8
Ø¨ÙˆÛŒØ±Ø§Ø­Ù…Ø¯ 7
ÙØ±ÛŒØ¯Ù† 7
ØªÚ©Ø§Ø¨ Ø¯Ø±Ú¯Ø² 6
Ø±ÙˆØ¯Ø§Ù† 6
Ø³ÛŒØ§Ù‡Ú©Ù„Ø§ 6
Ø³ÙˆØ§Ø¯Ú©ÙˆÙ‡ 6
Ø¨Ø§Ø¨Ø§ Ù…ÛŒØ¯Ø§Ù† 5
Ù†Ø¬Ù (Ø¹Ø±Ø§Ù‚) 5
ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ù¾ÙˆÙ†Ú© 5
Ø§Ø±Ø¨ÛŒÙ„ (Ø¹Ø±Ø§Ù‚) 4
Ù‚Ø§ÛŒÙ†Ø§Øª 4
Ø´Ù‡Ø±Ú© 4
Ù‚Ø§ÛŒÙ…ÛŒÙ‡ 3
Ø¹Ù„ÛŒ Ø¢Ø¨Ø§Ø¯ Ø¨Ø§Ø¨Ù„Ø³Ø± 3
Ø³Ø§ÙˆØ¬Ø¨Ù„Ø§Øº 2
Ø´Ø§Ù†Ø¯Ø±Ù…Ù† 2
Ù„Ù†Ø¬Ø§Ù† 2
Ú†Ø°Ø§Ø¨Ù‡ 2
ØªÙ‡Ø±Ø§Ù† - ØªÙ‡Ø±Ø§Ù† (Ø¨ÛŒÙ‡Ù‚ÛŒ) 2
Ø§Ø³Ø¯ Ø¢Ø¨Ø§Ø¯ 2
Ù†ÙˆØ±Ø¯ÙˆØ² 2
Ø¨ÙˆÛŒÛŒÙ† ÙˆÙ…ÛŒØ§Ù†Ø¯Ø´Øª 1
Ø§ØµÙÙ‡Ø§Ù† - Ø§ØµÙÙ‡Ø§Ù† (ØµÙÙ‡) 1
ØªÙ‡Ø±Ø§Ù† - ØªÙ‡Ø±Ø§Ù† (ØºØ±Ø¨) 1
Ø§Ù‡ÙˆØ§Ø² - Ø§Ù‡ÙˆØ§Ø² (ØªÙ¾Ù‡) 1
ØªÙ‡Ø±Ø§Ù† - ØªÙ‡Ø±Ø§Ù† (Ø¬Ù†ÙˆØ¨) 1
Ù¾Ø§ÛŒØ§Ù†Ù‡ Ú©Ø§ÙˆÙ‡ 1
Ú©Ù‡Ú¯ÛŒÙ„ÙˆÛŒÙ‡ 1
Ù¾Ø§ÛŒØ§Ù†Ù‡ Ø¬Ù†ÙˆØ¨ 1
Ù¾Ø§ÛŒØ§Ù†Ù‡ ØµÙÙ‡ 1
Ù†Ø³ÙŠÙ… Ø´Ù‡Ø± 1
Ù¾Ø§ÛŒØ§Ù†Ù‡ Ø¨ÛŒÙ‡Ù‚ÛŒ 1

In [19]:
edit_dict = {'Ø§Ù‡ÙˆØ§Ø² - Ù‡Ù…Ù‡ Ù¾Ø§ÛŒØ§Ù†Ù‡â€ŒÙ‡Ø§': 'Ahvaz - All Terminals',
            'ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ø¬Ù†ÙˆØ¨': 'Tehran - South Terminal',
            'ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ ØºØ±Ø¨': 'Tehran - West Terminal',
            'Ø´ÛŒØ±Ø§Ø² - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ú©Ø§Ø±Ø§Ù†Ø¯ÛŒØ´': 'Shiraz - Karandish Terminal',
            'Ø§ØµÙÙ‡Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ú©Ø§ÙˆÙ‡': 'Isfahan - Kaveh Terminal',
            'Ú©Ù†Ú¯Ø§Ù† ': 'Kangan',
            'ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ø¨ÛŒÙ‡Ù‚ÛŒ': 'Tehran - Biheqi Terminal',
            'Ø§Ù‡ÙˆØ§Ø² - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ø³ÛŒØ§Ø­Øª': 'Ahvaz - Tourism Terminal',
            'Ø¹Ø³Ù„ÙˆÙŠÙ‡': 'Asaluyeh',
            'Ø§Ù‡ÙˆØ§Ø² - Ù¾Ø§ÛŒØ§Ù†Ù‡ ØªÙ¾Ù‡': 'Ahvaz - Tappeh Terminal',
            'Ø§ØµÙÙ‡Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ ØµÙÙ‡': 'Isfahan - Soffeh Terminal',
            'Ù‚Ù… - Ù¾Ø§ÛŒØ§Ù†Ù‡ ÙØ¯Ú©': 'Qom - Fadak Terminal',
            'ØªÙ‡Ø±Ø§Ù† - Ù‡Ù…Ù‡ Ù¾Ø§ÛŒØ§Ù†Ù‡â€ŒÙ‡Ø§': 'Tehran - All Terminals',
            'Ø´ÛŒØ±Ø§Ø² - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ø§Ù…ÛŒØ±Ú©Ø¨ÛŒØ±': 'Shiraz - Amir Kabir Terminal',
            'Ú¯Ú†Ø³Ø§Ø±Ø§Ù†': 'Gachsaran',
            'ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ø´Ø±Ù‚': 'Tehran - East Terminal',
            'Ø´ÛŒØ±Ø§Ø² - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ù…Ø¯Ø±Ø³': 'Shiraz - Madreseh Terminal',
            'Ù…Ø³Ø¬Ø¯Ø³Ù„ÛŒÙ…Ø§Ù†': 'Masjed Soleyman',
            'Ù¾Ø§ÛŒØ§Ù†Ù‡ ØºØ±Ø¨': 'Tehran - West Terminal',
            'Ø§Ù„Ø¨Ø±Ø²': 'Alborz',
            'ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ù¾ÙˆÙ†Ú©': 'Tehran - Ponak Terminal',
            }

In [20]:
train['City EN'] = train['City EN'].fillna(train['AcceptString'].map(edit_dict))
train

      TypedStrings         AcceptString                    City EN
0                                 ØªÙ‡Ø±Ø§Ù†                     Tehran
1            ØªÙ‡Ø±Ø§Ù†                ØªÙ‡Ø±Ø§Ù†                     Tehran
2                                Ø§ØµÙÙ‡Ø§Ù†                    Isfahan
3                                Ø§ØµÙÙ‡Ø§Ù†                    Isfahan
4           Ø§ØµÙÙ‡Ø§Ù†               Ø§ØµÙÙ‡Ø§Ù†                    Isfahan
...            ...                  ...                        ...
76216            Ø¨                 Ø¨Ø§Ø¨Ù„                      Babol
76217           Ø¨Ø§                 Ø¨Ø§Ø¨Ù„                      Babol
76218          Ø¨Ø§Ø¨                 Ø¨Ø§Ø¨Ù„                      Babol
76219         Ø¨Ø§Ø¨Ù„                 Ø¨Ø§Ø¨Ù„                      Babol
76220               Ø§ØµÙÙ‡Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ ØµÙÙ‡  Isfahan - Soffeh Terminal

[76221 rows x 3 columns]

In [21]:
typo = []
for accept in tqdm(train['AcceptString']):
    t = []
    for character in accept:
        if character in [' ', '-', '\u200c', '(', ')']:
            t.append(character)
        else:
            t.append(fa2en.loc[character]['EN'])
    t = ''.join(t)
    typo.append(t)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 76221/76221 [00:30<00:00, 2465.89it/s]

In [22]:
train['Typo'] = typo
train.head()

  TypedStrings AcceptString  City EN    Typo
0                     ØªÙ‡Ø±Ø§Ù†   Tehran   jivhk
1        ØªÙ‡Ø±Ø§Ù†        ØªÙ‡Ø±Ø§Ù†   Tehran   jivhk
2                    Ø§ØµÙÙ‡Ø§Ù†  Isfahan  hwtihk
3                    Ø§ØµÙÙ‡Ø§Ù†  Isfahan  hwtihk
4       Ø§ØµÙÙ‡Ø§Ù†       Ø§ØµÙÙ‡Ø§Ù†  Isfahan  hwtihk

In [23]:
train['City EN'] = train['City EN'].str.lower()
train.head()

  TypedStrings AcceptString  City EN    Typo
0                     ØªÙ‡Ø±Ø§Ù†   tehran   jivhk
1        ØªÙ‡Ø±Ø§Ù†        ØªÙ‡Ø±Ø§Ù†   tehran   jivhk
2                    Ø§ØµÙÙ‡Ø§Ù†  isfahan  hwtihk
3                    Ø§ØµÙÙ‡Ø§Ù†  isfahan  hwtihk
4       Ø§ØµÙÙ‡Ø§Ù†       Ø§ØµÙÙ‡Ø§Ù†  isfahan  hwtihk

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ù…Ø¯Ù„â€ŒØ³Ø§Ø²ÛŒ
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø¨Ø±Ø§ÛŒ Ø­Ù„ Ø§ÛŒÙ† Ù…Ø³Ø¦Ù„Ù‡ Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒØ¯ Ø§Ø² Ù‡Ø± Ø±ÙˆØ´ÛŒ Ú©Ù‡ Ø¨Ù‡ Ø°Ù‡Ù†â€ŒØªØ§Ù† Ù…ÛŒâ€ŒØ±Ø³Ø¯ Ú©Ù…Ú© Ø¨Ú¯ÛŒØ±ÛŒØ¯. ØªÙˆØ¬Ù‡ Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´ÛŒØ¯ Ú©Ù‡ Ø¯Ø± Ø§ÛŒÙ† ØªÙ…Ø±ÛŒÙ† Ø¨Ø§ ÛŒÚ© Ù…Ø³Ø¦Ù„Ù‡â€ŒÛŒ ÙˆØ§Ù‚Ø¹ÛŒ Ùˆ ØµÙ†Ø¹ØªÛŒ Ø³Ø± Ùˆ Ú©Ø§Ø± Ø¯Ø§Ø±ÛŒÙ…ØŒ Ø¯Ø± Ù†ØªÛŒØ¬Ù‡ Ù…Ù…Ú©Ù† Ø§Ø³Øª Ø¨Ø±Ø®Ù„Ø§Ù ØªÙ…Ø±ÛŒÙ†â€ŒÙ‡Ø§ÛŒ Ø±Ø§ÛŒØ¬ Ú©Ø§Ù„Ø¬ ÛŒÚ© Ø±Ø§Ù‡â€ŒØ­Ù„ Ø§Ø³ØªØ§Ù†Ø¯Ø§Ø±Ø¯ ÛŒØ§ Ø¨Ù‡ Ø§ØµØ·Ù„Ø§Ø­ Ø³Ø±Ø±Ø§Ø³Øª Ø¨Ø±Ø§ÛŒ Ø¢Ù† ÙˆØ¬ÙˆØ¯ Ù†Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´Ø¯. Ø­ØªÛŒ Ù…Ù…Ú©Ù† Ø§Ø³Øª Ø§Ù„Ú¯ÙˆØ±ÛŒØªÙ…â€ŒÙ‡Ø§ÛŒ ÛŒØ§Ø¯Ú¯ÛŒØ±ÛŒ Ù…Ø§Ø´ÛŒÙ† Ø¨Ø±Ø§ÛŒ Ø§ÛŒÙ† Ù…Ø³Ø¦Ù„Ù‡ Ø¨Ù‡ Ø§Ù†Ø¯Ø§Ø²Ù‡â€ŒÛŒ Ø±Ø§Ù‡â€ŒØ­Ù„â€ŒÙ‡Ø§ÛŒ Ù‚Ø§Ø¹Ø¯Ù‡â€ŒØ§ÛŒ (rule-based) ÛŒØ§ Ø§Ø­ØªÙ…Ø§Ù„Ø§ØªÛŒ Ù…ÙÛŒØ¯ ÙˆØ§Ù‚Ø¹ Ù†Ø´ÙˆØ¯. Ù‡Ù…Ú†Ù†ÛŒÙ† Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒØ¯ Ú†Ù†Ø¯ÛŒÙ† Ø±ÙˆØ´ Ù…Ø®ØªÙ„Ù Ø±Ø§ Ø¨Ø§ Ù‡Ù…Ø¯ÛŒÚ¯Ø± ØªØ±Ú©ÛŒØ¨ Ú©Ù†ÛŒØ¯. Ø®Ù„Ø§ØµÙ‡ Ú©Ù‡ Ø±ÛŒØ´ (ğŸ§”) Ùˆ Ù‚ÛŒÚ†ÛŒ (âœ‚ï¸) Ø¯Ø³Øª Ø´Ù…Ø§Ø³Øª! Ù‡Ø± Ø§ÛŒØ¯Ù‡ Ùˆ Ø®Ù„Ø§Ù‚ÛŒØªÛŒ Ú©Ù‡ Ø¨Ù‡ Ø°Ù‡Ù†â€ŒØªØ§Ù† Ù…ÛŒâ€ŒØ±Ø³Ø¯ Ø±Ø§ Ù¾ÛŒØ§Ø¯Ù‡â€ŒØ³Ø§Ø²ÛŒ Ùˆ Ø¢Ø²Ù…Ø§ÛŒØ´ Ú©Ù†ÛŒØ¯.
</font>
</p>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ú†Ù†Ø¯ÛŒÙ† Ù…Ø«Ø§Ù„ Ø§Ø² Ù†Ù…ÙˆÙ†Ù‡â€ŒÙ‡Ø§ÛŒ Ø¢Ø²Ù…ÙˆÙ† Ùˆ Ù¾ÛŒØ´Ù†Ù‡Ø§Ø¯Ù‡Ø§ÛŒ Ù…Ø¹Ù‚ÙˆÙ„ Ø¨Ø±Ø§ÛŒ Ø¢Ù†â€ŒÙ‡Ø§ Ø¯Ø± Ø²ÛŒØ± Ø¢ÙˆØ±Ø¯Ù‡ Ø´Ø¯Ù‡ ØªØ§ Ø¨Ù‡ Ø§ÛŒØ¯Ù‡â€ŒÙ¾Ø±Ø¯Ø§Ø²ÛŒ Ø´Ù…Ø§ Ú©Ù…Ú© Ú©Ù†Ø¯. ØªÙˆØ¬Ù‡ Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´ÛŒØ¯ Ø¯Ø± ØµÙˆØ±ØªÛŒâ€ŒÚ©Ù‡ Ù¾ÛŒØ´Ù†Ù‡Ø§Ø¯ Ú†Ù†Ø¯Ø§Ù† Ù…Ø´Ø§Ø¨Ù‡ÛŒ ÙˆØ¬ÙˆØ¯ Ù†Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´Ø¯ Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒÙ… Ø§Ø² Ù¾Ø±ØªÚ©Ø±Ø§Ø±ØªØ±ÛŒÙ† ÛŒØ§ Ù…Ø­ØªÙ…Ù„â€ŒØªØ±ÛŒÙ† Ø¨Ø±Ú†Ø³Ø¨â€ŒÙ‡Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ù…ÛŒâ€ŒÚ©Ù†ÛŒÙ…. ÛŒØ¹Ù†ÛŒ Ø¯Ø± Ù…Ø«Ø§Ù„ Ø²ÛŒØ± Ù…Ø´Ø§Ù‡Ø¯Ù‡ Ù…ÛŒâ€ŒÚ©Ù†ÛŒØ¯ Ú©Ù‡ Ù‡Ø±Ø¬Ø§ Ø§Ù†ØªØ®Ø§Ø¨ Ø¨Ù‡ØªØ±ÛŒ Ù†Ø¯Ø§Ø´ØªÙ‡â€ŒØ§ÛŒÙ… Ø§Ø¨ØªØ¯Ø§ Â«ØªÙ‡Ø±Ø§Ù†Â» Ùˆ Ø³Ù¾Ø³ Ø¨Ø§Ù‚ÛŒ Ø´Ù‡Ø±Ù‡Ø§ Ø±Ø§ Ù‚Ø±Ø§Ø± Ø¯Ø§Ø¯Ù‡â€ŒØ§ÛŒÙ….
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|Suggestion4|Suggestion3|Suggestion2|Suggestion1|Suggestion0|Ù…ØªÙ† ØªØ§ÛŒÙ¾â€ŒØ´Ø¯Ù‡|
|:------:|:---:|:---:|:---:|:---:|:---:|
| Ø´ÛŒØ±Ø§Ø² | Ø§ØµÙÙ‡Ø§Ù† | Ú©Ù„Ø§Ù„Ù‡ | ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ø¬Ù†ÙˆØ¨ | ØªÙ‡Ø±Ø§Ù† | ØªÙ‡Ø¯ |
| Ù‚Ù… | Ù‚Ø§ÛŒÙ…ÛŒÙ‡ | Ù‚Ø§ÛŒÙ†Ø§Øª | Ù‚Ø§Ø¦Ù† | Ù‚Ø§Ø¦Ù… Ø´Ù‡Ø± | Ù‚Ø§ |
| Ø§ØµÙÙ‡Ø§Ù† | ØªÙ‡Ø±Ø§Ù† | Ø®ÙˆÛŒ | Ø¨ÙˆÛŒÛŒÙ† ÙˆÙ…ÛŒØ§Ù†Ø¯Ø´Øª | Ø¨ÙˆÛŒØ±Ø§Ø­Ù…Ø¯ | Ø¨ÙˆÛŒ |
| Ø´ÛŒØ±Ø§Ø² | Ø§ØµÙÙ‡Ø§Ù† | ØªÙ‡Ø±Ø§Ù† | ÛŒØ²Ø¯ - Ú©Ù…Ø±Ø¨Ù†Ø¯ÛŒ | ÛŒØ²Ø¯ | dcn |
| Ø´ÛŒØ±Ø§Ø² | Ø§ØµÙÙ‡Ø§Ù† | ØªÙ‡Ø±Ø§Ù† | Ù…Ø§Ù‡Ø´Ù‡Ø± | Ø§Ù‡ÙˆØ§Ø² | Ø¨Ù†Ø¯Ø± Ù…Ø§Ù‡Ø´ |
| ØªÙ†Ú©Ø§Ø¨Ù† | ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ ØºØ±Ø¨ | ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ø¬Ù†ÙˆØ¨ | ØªØ¨Ø±ÛŒØ² | ØªÙ‡Ø±Ø§Ù† | Øª |
    
</font>
</div>
</center>

In [24]:
class AutoSuggest():
    def __init__(self, df, text_col, target_col, en_col, typo_col, threshold=10, max_num=10):
        target_dict = df[target_col].value_counts()
        self.target_dict = target_dict
        self.labels = list(target_dict.keys())
        self.threshold = threshold
        self.max_num = max_num
        self.vocab_size = len(df[text_col].unique())
        self.df = df
        self.text_col = text_col
        self.target_col = target_col
        self.en_col = en_col
        self.typo_col = typo_col
        self.reg = re.compile(r'[a-zA-Z,\\]')
        self.triples = self.df[[target_col, en_col, typo_col]].drop_duplicates(ignore_index=True)

    def preprocess(self, input):
        output = re.sub('\W+',' ', input)
        output = output.lower()
        return output

    # checking if the typed string is in labels
    def check(self, input):
        if input in self.labels:
            return True
        else:
            return False

    # finding all labels which starts with input
    def get_starts_with(self, input):
        results = {}
        for label, count in self.target_dict.items():
            if label.startswith(input):
                results[label] = count
        return results

    # finding all labels which contains the input
    def get_contains(self, input):
        results = {}
        for label, count in self.target_dict.items():
            if count >= self.threshold:
                if input in label:
                    results[label] = count
        return results

    # finindg all labels which are at distance of 1 to the input
    def get_one_distance(self, input):
        results = {}
        for label, count in self.target_dict.items():
            if distance(label, input) == 1:
                results[label] = count
        return results

    
    # suggest with rule-based methods
    def suggest_step1(self, input):
        suggestion = {}

        if self.check(input):
            suggestion.update({input: self.target_dict[input]})

        starts_with = self.get_starts_with(input)
        suggestion.update(starts_with)

        contains = self.get_contains(input)
        suggestion.update(contains)

        near_labels = self.get_one_distance(input)
        near_starts_with = {}
        for similar in near_labels:
            if self.check(similar):
                suggestion.update({similar: self.target_dict[similar]})

            similar_starts_with = self.get_starts_with(similar)
            near_starts_with.update(similar_starts_with)

        # sorting the near_starts_with results based on the occurance
        near_starts_with = dict(sorted(near_starts_with.items(), key=lambda item: item[1], reverse=True))
        suggestion.update(near_starts_with)

        return suggestion

    # suggest based on probabilities
    def suggest_step2(self, input, label_col):
        prob_results = {}

        df_related = self.df[self.df[self.text_col] == input]
        
        for label in self.labels:
            df_label = df_related[df_related[label_col]==label]
            likelihood = len(df_label[df_label[self.text_col] == input]) + 1
            likelihood = likelihood / (len(df_label) + self.vocab_size)
            label_prob = len(self.df[self.df[label_col] == label]) / len(self.df)
            # probability = likelihood * label_prob
            prob_results.update({label: likelihood})

        prob_results = dict(sorted(prob_results.items(), key=lambda item: item[1], reverse=True))

        return prob_results

    # suggestion for persian texts
    def suggest_fa(self, input):
        step1 = self.suggest_step1(input)
        step2 = {}

        if len(step1) < self.max_num:
            step2 = self.suggest_step2(input, self.target_col)
        
        results = {}
        results.update(step1)
        results.update(step2)

        results = list(results.keys())[:self.max_num]
        return results

    # suggestion for english texts
    def suggest_en(self, input):
        tmp_target_dict = self.target_dict
        tmp_labels = self.labels
        self.target_dict = self.df[self.en_col].value_counts()
        self.labels = list(self.target_dict.keys())

        suggestion = {}

        if self.check(input):
            suggestion.update({input: self.target_dict[input]})

        starts_with = self.get_starts_with(input)
        suggestion.update(starts_with)

        step1 = suggestion
        step2 = {}

        if len(step1) < self.max_num:
            step2 = self.suggest_step2(input, self.en_col)

        self.target_dict = tmp_target_dict
        self.labels = tmp_labels

        output1 = {}
        for key, value in step1.items():
            tmp = self.triples[self.triples[self.en_col]==key][self.target_col].values[0]
            output1[tmp] = value

        output2 = {}
        for key, value in step2.items():
            tmp = self.triples[self.triples[self.en_col]==key][self.target_col].values[0]
            output2[tmp] = value
        
        # splitting the rule-based and probability-based suggestions
        return [output1, output2]
    
    # suggestion for english texts
    def suggest_typo(self, input):
        tmp_target_dict = self.target_dict
        tmp_labels = self.labels
        self.target_dict = self.df[self.typo_col].value_counts()
        self.labels = list(self.target_dict.keys())

        suggestion = {}

        if self.check(input):
            suggestion.update({input: self.target_dict[input]})

        starts_with = self.get_starts_with(input)
        suggestion.update(starts_with)

        results = suggestion

        self.target_dict = tmp_target_dict
        self.labels = tmp_labels

        output = {}
        for key, value in results.items():
            tmp = self.triples[self.triples[self.typo_col]==key][self.target_col].values[0]
            output[tmp] = value

        return output

    def suggest(self, input):

        input = self.preprocess(input)
        
        # checking the language
        en = False
        if self.reg.match(input):
            en = True

        results = {}
        if en:
            # if it was english text
            results_en1, results_en2 = self.suggest_en(input)
            results_typo = self.suggest_typo(input)
            results.update(results_en1)
            results.update(results_typo)
            results.update(results_en2)
            results = list(results.keys())[:self.max_num]
            return results
        else:
            # if it was persian text
            return self.suggest_fa(input)

In [25]:
auto_suggest = AutoSuggest(train, 'TypedStrings', 'AcceptString', 'City EN', 'Typo', threshold=10, max_num=5)

In [26]:
auto_suggest.suggest('Øª')

['ØªÙ‡Ø±Ø§Ù†', 'ØªØ¨Ø±ÛŒØ²', 'ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ø¬Ù†ÙˆØ¨', 'ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ ØºØ±Ø¨', 'ØªÙ†Ú©Ø§Ø¨Ù†']

In [27]:
predictions = []
for input in tqdm(test_data['Typed']):
    predictions.append(auto_suggest.suggest(input))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 519/519 [26:24<00:00,  3.05s/it]

In [28]:
from rbo import RankingSimilarity
act = ['A', 'B', 'C']
pred = ['B', 'A', 'D']
rbo = RankingSimilarity(act, pred).rbo()
print(rbo)

0.5555555555555555

In [29]:
submission = pd.DataFrame({'Suggestion0': np.array(predictions)[:,0],
                           'Suggestion1': np.array(predictions)[:,1],
                           'Suggestion2': np.array(predictions)[:,2],
                           'Suggestion3': np.array(predictions)[:,3],
                           'Suggestion4': np.array(predictions)[:,4]})
submission.head()

,Suggestion0,Suggestion1,Suggestion2,Suggestion3,Suggestion4
0,ØªÙ‡Ø±Ø§Ù†,ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ø¬Ù†ÙˆØ¨,Ú©Ù„Ø§Ù„Ù‡,Ø§ØµÙÙ‡Ø§Ù†,Ø´ÛŒØ±Ø§Ø²
1,Ù†Ù‡Ø§ÙˆÙ†Ø¯,Ù†Ú©Ø§,ØªÙ‡Ø±Ø§Ù†,Ø§ØµÙÙ‡Ø§Ù†,Ø´ÛŒØ±Ø§Ø²
2,Ø³Ø§ÙˆÙ‡,Ù¾Ø§ÙˆÙ‡,ØªÙØ±Ø´,ØªÙ‡Ø±Ø§Ù†,Ù‚Ù…
3,ÛŒØ§Ø³ÙˆØ¬,Ø§Ù‡ÙˆØ§Ø² - Ù‡Ù…Ù‡ Ù¾Ø§ÛŒØ§Ù†Ù‡â€ŒÙ‡Ø§,ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ø¬Ù†ÙˆØ¨,ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§ÛŒØ§Ù†Ù‡ ØºØ±Ø¨,Ø´ÛŒØ±Ø§Ø² - Ù¾Ø§ÛŒØ§Ù†Ù‡ Ú©Ø§Ø±Ø§Ù†Ø¯ÛŒØ´
4,Ø¨Ù†Ø¯Ø± Ø§Ù†Ø²Ù„ÛŒ,Ø¹Ø³Ù„ÙˆÛŒÙ‡,Ø¨Ù†Ø¯Ø± ØªØ±Ú©Ù…Ù†,ØªÙ‡Ø±Ø§Ù†,Ø§ØµÙÙ‡Ø§Ù†